@model WebSeries.EntityFramework.Package
<h3>Your Subscription Packages</h3>
<label>Package Name: @Model.Name</label>
<label>Package Price: @Model.Price </label>
<label>Package Descrption: @Model.Description  </label>

<button class="btn btn-primary" type="submit">Pay now</button>
