
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="" method="post">

    <input type="text" class="form-control" name="PAName" placeholder="Name" />
    <input type="password" class="form-control" name="PAPassword" placeholder="Password" />
    <input type="submit" value="Login" class="btn btn-primary" />
</form>